body{
	background-color: skyblue;
}
.heading table img{
	width: 100%;
	height: 100px;
}
.heading{
	background-color: pink;
	border: black;
	margin: 0.5%;
}
.navigation{
	background-color: grey;
	color: white;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	width: 100%;
}
.navigation div{
	width: 13%;
	background-color: black;
	margin: 0.5%;
	text-align: center;
	cursor: pointer;
}

.input{
	background-color: white;
	border-radius: 15px;
	margin: 0.5%;
	width: 95%;
	padding: 0.75%;
}
.input input{
	border: none;
}
.input input:focus{
	outline: none;
}
.offers{
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.offers div{
	width: 100%;
	margin: 0.5%;
}
.offers div img{
	float: center;
	border-radius: 15px;
	width: 100%;
	height: 300px;
}
.off2{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.off2 div{
	width: 19%;
	background-color: pink;
	border-radius: 15px;
	margin: 0.5%;
}
.off2 div img{
	width: 100%;
	border-radius: 15px;
	height: 250px;
}
.off2 div input{
	border-radius: 15px;
	border: none;
	padding: 2%;
	margin: 2%;
	background-color: grey;
	color: white;
	cursor: pointer;
}
.off2 div{
	text-align: center;
}
.last img{
	width: 98%;
	margin: 0.5%;
}
.feet{
	text-align: center;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 1%;
}
.eye a{
	text-decoration: none;
	color: white;
}
.sun a{
	text-decoration: none;
	color: white;
}
.lens a{
	text-decoration: none;
	color: white;
}
.about a{
	text-decoration: none;
	color: white;
}
.login a{
	text-decoration: none;
	color: white;
}
.home a{
	text-decoration: none;
	color: white;
}
.off3 div{
	border-radius: 15px;
	margin: 1%;
	width: 98%
}
.off3 div img{
	width: 100%;
	border-radius: 15px;
}
.off4{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	background-color: white;
	border-radius: 15px;
	width: 98%;
	padding: 1%;
}
.off4 div{
	width: 44%;
	background-color: pink;
	padding: 2%;
	
}
.off4 div h3{
	background-color: skyblue;
	text-align: center;
	border-radius: 15px;
	font-size: 35px;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
	.navigation{
		display: flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content: space-around;
	}
	.navigation div{
		width:30%;
	}
	.off2{
		display: flex;
		flex-direction:column;
		flex-wrap:wrap;
	}
	.off2 div{
		width: 100%;
	}
	.off4{
		display: flex;
		flex-direction:column;
		flex-wrap:wrap;
	}
	.off4 div{
		width: 96%;
		margin: 0.5%;
	}
	.off4 div img{
		width: 100%;
	}
	.off4 div h3{ 
		font-size: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.navigation{
		display: flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content: space-around;
	}
	.navigation div{
		width:30%;
	}
	.off2{
		display: flex;
		flex-direction:column;
		flex-wrap:wrap;
	}
	.off2 div{
		width: 100%;
	}
	.off4{
		display: flex;
		flex-direction:column;
		flex-wrap:wrap;
	}
	.off4 div{
		width: 96%;
		margin: 0.5%;
	}
	.off4 div img{
		width: 100%;
	}
	.off4 div h3{ 
		font-size: 25px;
	}
}

